.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
}

.success {
  color: #fff;
  background-color: #039d40;
}
