<test-luizalabs-form-content [id]="id" [router]="'/clientes'" [title]="id ? 'Cliente - Editar' : 'Cliente - Cadastrar'">
  <form [formGroup]="form">
    <div class="full-width-input">
      <mat-form-field appearance="legacy">
        <input matInput name="name" type="text" formControlName="name" placeholder="Nome" />
        <mat-error *ngIf="form.get('name').invalid">{{ form.get('name').errors.message }}</mat-error>
      </mat-form-field>
    </div>
    <div class="full-width-input">
      <mat-form-field appearance="legacy">
        <input matInput type="text" formControlName="email" placeholder="E-mail" />
        <mat-error *ngIf="form.get('email').invalid">{{ form.get('email').errors.message }}</mat-error>
      </mat-form-field>
    </div>
    <div class="grid-input-form">
      <mat-form-field appearance="legacy">
        <input matInput type="text" formControlName="cpf" mask="000.000.000-00" placeholder="CPF" />
        <mat-error *ngIf="form.get('cpf').invalid">{{ form.get('cpf').errors.message }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-select formControlName="gender" placeholder="Sexo">
          <mat-option value="Feminino"> Feminino </mat-option>
          <mat-option value="Masculino"> Masculino </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('gender').invalid">{{ form.get('gender').errors.message }}</mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="action">
    <button
      mat-stroked-button
      class="btn-submit"
      [disabled]="form.invalid"
      color="primary"
      type="submit"
      (click)="handleSaveOrUpdate()"
    >
      Salvar
    </button>
    <button mat-stroked-button color="basic" type="submit" routerLink="/clientes">Cancelar</button>
  </div>
</test-luizalabs-form-content>
