.container {
  height: calc(100% - 8rem);
  margin: 0 1em;
}
.container-initial {
  height: 100%;
}
.example-container,
.example-sidenav-content {
  height: 100%;
}

footer {
  padding-bottom: 55px;
  text-align: center;
  img {
    width: 150px;
  }
}
