<test-luizalabs-item-list-content *ngIf="clients" [dataSource]="clients">
  <test-luizalabs-item-list-header
    class="box-header"
    [iconTitle]="'description'"
    [title]="'Clientes'"
    [dataSource]="clients"
    [selection]="selection"
  >
  </test-luizalabs-item-list-header>
  <test-luizalabs-item-list-card
    *ngFor="let item of clients"
    [id]="item.id"
    [title]="item.name"
    [selection]="selection"
    (deleted)="deleted($event)"
  >
  </test-luizalabs-item-list-card>
</test-luizalabs-item-list-content>

<test-luizalabs-item-list-footer (deleted)="deletedMulti()" [selection]="selection">
</test-luizalabs-item-list-footer>
